@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 15px 0;
  line-height: 1.8;
}

.blog-text ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.blog-text pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.blog-text h1 {
  font-size: 35px;
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
  font-size: 27px;
}

/* Fix category colors in production */
.bg-yellow-600 {
  background-color: #d97705;
}
.bg-blue-600 {
  background: #3929eb;
}
.bg-green-600 {
  background-color: #049669;
}
.bg-purple-600 {
  background-color: #7730db;
}
.bg-red-600 {
  background-color: #a70b34;
}




.ana-sayfa {
  text-decoration: underline;
}

.ana-sayfa:hover {
  color: black;
}

.kayan-cizgi {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.kayan-cizgi::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.25s ease-out;
}

.darkmode--activated .kayan-cizgi::before {
  background-color: yellow;
}

.kayan-cizgi:hover::before {
  width: 100%;
}

.son-gonderiler {
  font-size: xx-large;
}

.kayan-cizgi-nav {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.darkmode--activated .header {
  isolation: isolate;
}

.kayan-cizgi-nav:hover {
  color: white;
}

.darkmode--activated .kayan-cizgi {
  color: white;
}

.kayan-cizgi-nav::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: yellow;
  transition: width 0.25s ease-out;
}

.kayan-cizgi-nav:hover::before {
  width: 100%;
}